<div class="text-center">
    <div class="form-signin"> 
        <div class="col">
            <form >
                <img class="mb-4" src="../../assets/logo.jpg" alt="" width="140" height="100">
                <h1 class="h3 mb-3 fw-normal">Registrate </h1>
                
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Correo</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"required>
                    <label for="floatingPassword">Contraseña<a href="http://" target="_blank" rel="noopener noreferrer"></a></label>
                  </div>
              
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me" > Recordarme
                    </label>
                  </div>

               

                <input type="submit" class="btn " value="Guardar" routerLink= "">
            </form>
        </div>
    </div>
</div>