

<header>
  <nav class="navbar navbar-dark  fixed-top ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fw-bold" routerLink ="">
        <img src="../assets/logo.jpg" alt="" width="40" height="34" class="d-inline-block align-text-top ">
        Cafetería el Fortín
      </a>
      
      
      <div class="text-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
          <hr/>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <hr/>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink ="">INICIO</a>
            </li>
            <hr/>
            <li class="nav-item">
              <a class="nav-link active" routerLink ="formulario"><span class="bi bi-person-circle"></span>PRODUCTOS</a>
            </li>
            <hr/>
            <li class="nav-item">
              <a class="nav-link active" routerLink ="login"><span class="bi bi-person-circle"></span>MI CUENTA</a>
            </li>
            <hr/>
          </ul>
         
        </div>

      </div>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container-fluid"><router-outlet></router-outlet></div>
  

  <!-- FOOTER -->
  <footer class="container">
    <div class="footer fixed-bottom bg-ligth text-center text-muted">
      <small>Copyright &copy; 2021</small>
    </div>
  </footer>
</main>
