<div class="container-fluid ">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3500">
        <img src="../../assets/carrusel1.jpg" class="d-block w-100" alt="..."height="560">
      </div>
      <div class="carousel-item" data-bs-interval="3500">
        <img src="../../assets/carrusel2.jpg" class="d-block w-100" alt="..."height="560">
      </div>
      <div class="carousel-item" data-bs-interval="3500">
        <img src="../../assets/carrusel3.jpg" class="d-block w-100" alt="..."height="560">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing ">
    <h1 class="h1 text-center ">INICIO</h1>
    <!-- Three columns of text below the carousel -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="h2 featurette-heading text-middle">Arte Latte</h2>
        <p class="lead">Ven a disfrutar del mejor Arte latte de la región</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/inicio1.jpg" alt="" width="100%" height="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="h2 featurette-heading">¡Todo lo que necesitas es amor... y seamos realistas tambien un buen cafe!...</h2>
        <p class="lead">La vida sin cafe es vida a medias</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/inicio2.jpg" alt="" width="100%" height="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="h2 featurette-heading">No tenemos WI-FI pero tenemos nuestra propia red social</h2>
        <p class="lead">Disfruta del cafe sin estar conectado :D</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/inicio3.jpg" alt="" width="100%" height="100%">

      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="h2 featurette-heading">Un pan tostado con mantequilla y se te reinicia la vida!</h2>
        <p class="lead">¡El mejor pan frances de la region y mas!...</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/inicio4.jpg" alt="" width="100%" height="100%">

      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</div>