.container{
    margin-top: 1em;
}

.col-lg-4{
    margin-top: 1em;

    background-color: rgb(127, 172, 127);
   border : 2px solid;
    border-color: darkgreen;
}

.img-center {margin:0 auto;}

.row{
    
        display: flex;
        align-items: center;
    
}
.h1{
    color: coral;
}
.h2{
    color: coral;
}